body {
  margin: 0;
  padding: 0;
}

.centra{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.alinha{
  text-align: center;
}

.sombra{
  text-shadow: 2px 2px black;
}

.nav-wrapper .brand-logo img {
  height: 58px;
}
@media (max-width: 600px) {
  .nav-wrapper .brand-logo img {
    height: 48px;
  }
}

.footer-fixed{
  position: fixed;
  bottom: 0;
  width: 100%;
}
